<!DOCTYPE HTML>

<html lang="eng">

<head>
    <title>Medicine List </title>


</head>
<body>
<div>
<form method="post">
<% for (let i =0; i<medicine.length; i++){%>

    <input type="checkbox" id="id<%= medicine[i].id%>" name="list" value="<%= medicine[i].name%>"><%= medicine[i].name%>
    <%= medicine[i].price%>
    <%= medicine[i].power%>
    <%= medicine[i].quantity%><br>

<%}%>
    <button id="btn">Delete </button>
</form>
</div>


<script type="text/javascript">
    document.getElementById('btn').onclick = function (){
        let markedCheckedBox = document.getElementsByName('list')
        for (let checkbox of markedCheckedBox){
            if(checkbox.checked)
                console.log(checkbox.id+ "    ")
        }
    }
</script>
</body>

</html>
